.navbar-list-item {
  display: inline-block;
  padding: 25px;
  transition: all 0.3s ease;
}

.navbar-list-item a {
  border: 1px solid #646d7c;
  color: #fff;
  font-size: 20px;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.navbar-list-item a:hover {
  background: #49505f;
}

.navbar-list-item a.active {
  background: #49505f;
}

@media (max-width: 950px) {
  .navbar-list-item {
    padding: 25px 10px;
  }

  .navbar-list-item a {
    font-size: 15px;
  }
}

@media (max-width: 740px) {
  .navbar-list-item {
    padding: 25px 0px;
  }
}

@media (max-width: 650px) {
  .navbar-list-item {
    padding: 15px 0px;
  }

  .navbar-list-item a {
    border: none;
    opacity: 0;
    transition: opacity 0s ease;
  }
}
